html {
  background: #eee;
}

body {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.banner {
  background-color: #263d36;
  background-image: url("../img/hero.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 1.2em;
  height: 400px;
  text-align: center;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35,31,31,0.5);
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  position: relative;
  z-index: 101;
}

.logo img {
  width: 6rem;
}

.nav a {
  color: white;
}

.nav-item {
  display: inline-block;
  padding-left: 2em;
}

.add-article {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}